*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 100vh;
    max-width: 100%;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display';
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}
h1,h2,h3{
    color: hsl(223, 47%, 23%);
}
p{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
    font-weight: 500;
}
.order-cancel p , a{
    font-weight: 700;

}
.card{
    max-width: 370px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    
}

.top img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bottom{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.plan{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(224, 23%, 55%,0.05);
    border-radius: 10px;
    padding: 10px;
}
.plan-details{
    display: flex;
    gap: 10px;
    align-items: center;
}
a{
    color: hsl(245, 75%, 52%);

}

button{
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color:hsl(225, 100%, 98%);
    font-weight: 700;
    width: 100%;
    box-shadow: 0 10px 20px hsla(224, 23%, 55%,0.5);
}
button:hover{
    cursor: pointer;
    opacity: 70%;
}

.change a:hover{
    text-decoration: none;
    opacity: 70%;
}
.order-cancel{
    cursor: pointer;
}

@media (max-width:380px) {
    body{
        background-image: url(pattern-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .card{
        width: 330px;
    }
    
}
